<footer id="footer-wrapper">
        
        <!-- end of #footer -->

        <!-- Footer Bottom -->
        <div id="footer-bottom-wrapper">
                <div id="footer-bottom" class="container">
                        <div class="row">
                                <div class="span6">
                                        <p class="copyright " style="color:#aaa;">
                                                Copyright © {$Think.config.COPY}<a href="#" title="blog" target="_blank">blog</a>
                                        </p>
                                </div>
                                <div class="span6">
                                        <!-- Social Navigation -->
                                      <!--  <ul class="social-nav clearfix">
                                                <li class="linkedin"><a target="_blank" href="#"></a></li>
                                                <li class="stumble"><a target="_blank" href="#"></a></li>
                                                <li class="google"><a target="_blank" href="#"></a></li>
                                                <li class="deviantart"><a target="_blank" href="#"></a></li>
                                                <li class="flickr"><a target="_blank" href="#"></a></li>
                                                <li class="skype"><a target="_blank" href="skype:#?call"></a></li>
                                                <li class="rss"><a target="_blank" href="#"></a></li>
                                                <li class="twitter"><a target="_blank" href="#"></a></li>
                                                <li class="facebook"><a target="_blank" href="#"></a></li>
                                        </ul>-->
                                </div>
                        </div>
                </div>
        </div>
        <!-- End of Footer Bottom -->

</footer>