<aside class="span4 page-sidebar">

<section class="widget">
        <h3 class="title">热门点击</h3>
        <ul class="articles">
          <volist name="click" id="vo">
                <li class="article-entry ">
                        <h4><a href="__MODULE__/Article/index/id/{$vo.id}">{$vo.title}</a></h4>
                </li>
          </volist>
        </ul>
</section>
<!--////////////////-->
  <section class="widget">
    <h3 class="title">推荐阅读</h3>
        <ul>
         <volist name="rec" id="vo">
                <li><a href="__MODULE__/Article/index/id/{$vo.id}" title="">{$vo.title}</a> </li>
         </volist>
        </ul>  
 </section>
<!--
        <section class="widget">
                <h3 class="title">Tags</h3>
                <div class="tagcloud">
                        <a href="#" class="btn btn-mini">basic</a>
                        <a href="#" class="btn btn-mini">beginner</a>
                        <a href="#" class="btn btn-mini">blogging</a>
                        <a href="#" class="btn btn-mini">colour</a>
                        <a href="#" class="btn btn-mini">css</a>
                        <a href="#" class="btn btn-mini">date</a>
                        <a href="#" class="btn btn-mini">design</a>
                        <a href="#" class="btn btn-mini">files</a>
                        <a href="#" class="btn btn-mini">format</a>
                        <a href="#" class="btn btn-mini">header</a>
                        <a href="#" class="btn btn-mini">images</a>
                        <a href="#" class="btn btn-mini">plugins</a>
                        <a href="#" class="btn btn-mini">setting</a>
                        <a href="#" class="btn btn-mini">templates</a>
                        <a href="#" class="btn btn-mini">theme</a>
                        <a href="#" class="btn btn-mini">time</a>
                        <a href="#" class="btn btn-mini">videos</a>
                        <a href="#" class="btn btn-mini">website</a>
                        <a href="#" class="btn btn-mini">wordpress</a>
                </div>
        </section>
-->
</aside>