<aside class="Hui-aside">
	
	<div class="menu_dropdown bk_2">
		
		
		<dl id="menu-admin">
			<dt><i class="Hui-iconfont">&#xe62d;</i> 管理员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
				<!--	<li><a href="__PUBLIC__/admin-role.html" title="角色管理">角色管理</a></li>
					<li><a href="__PUBLIC__/admin-permission.html" title="权限管理">权限管理</a></li>-->
					<li><a href="__MODULE__/Admin/lst" title="管理员列表">管理员列表</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-admin">
			<dt><i class="Hui-iconfont">&#xe667;</i> 栏目管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>  
			<dd>
				<ul>
					<li><a href="__MODULE__/Cate/lst" title="栏目列表">栏目列表</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-admin">

			<dt><i class="Hui-iconfont">&#xe6aa;</i> 链接管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>  
			<dd>
				<ul>
					<li><a href="__MODULE__/Link/lst" title="链接列表">链接列表</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-admin">
			<dt><i class="Hui-iconfont">&#xe64b;</i> 标签管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>  
			<dd>
				<ul>
					<li><a href="__MODULE__/Tags/lst" title="标签列表">标签列表</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-admin">
			<dt><i class="Hui-iconfont">&#xe616;</i> 文章管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>  
			<dd>
				<ul>
					<li><a href="__MODULE__/Article/lst" title="文章列表">文章列表</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-system">
			<dt><i class="Hui-iconfont">&#xe62e;</i> 系统管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a href="__MODULE__/System/lst" title="系统设置">系统设置</a></li>
				<!--	<li><a href="__PUBLIC__/system-category.html" title="栏目管理">栏目管理</a></li>
					<li><a href="__PUBLIC__/system-data.html" title="数据字典">数据字典</a></li>
					<li><a href="__PUBLIC__/system-shielding.html" title="屏蔽词">屏蔽词</a></li>
					<li><a href="__PUBLIC__/system-log.html" title="系统日志">系统日志</a></li>-->
				</ul>
			</dd>
		</dl>
	</div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:;" onClick="displaynavbar(this)"></a></div>